/* Base */
@import 'tailwindcss/base';

/* Component */
@import 'tailwindcss/components';


/* Utilities */
@import "tailwindcss/utilities";

/* Toast */
@import "react-toastify/dist/ReactToastify.css";

$slideLightGrey: #aaa;
$slideDarkGrey: #333;


@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }


}

@layer components {
    .tab.active {
        @apply border-b-0 font-medium bg-white font-extrabold;
    }

    .tab {
       @apply text-gray-600 py-4 px-6 block hover:text-gray-100 text-gray-800  border-2 border-gray-400 rounded-tl-lg rounded-tr-lg bg-gray-200 ;
    }

    .tab a {
        @apply text-gray-900 hover:text-gray-500;
    }


}



.quotation p {
    margin-bottom: 1.25rem;
}

li > .setPhoto {
    border: solid red 2px;
}
.setPhoto {
    @apply p-2 m-2  rounded content-center flex justify-center  items-center shadow-lg;

    border-left: solid $slideLightGrey 2px;
    border-top: solid $slideLightGrey 2px;
    border-bottom: solid $slideDarkGrey 2px;
    border-right: solid $slideDarkGrey 2px;

    img {
        max-height: 135px;


        border-left: solid $slideDarkGrey 2px;
        border-top: solid $slideDarkGrey 2px;
        border-bottom: solid $slideLightGrey 2px;
        border-right: solid $slideLightGrey 2px;
    }

}


.singlePhoto.inner {
    position: relative;
}

.singlePhoto img {
    margin-left: auto;
    margin-right: auto;
}

/* ---- forms ---- */
.form {
    display: block;
    background: cyan;

    label {
        @apply font-extrabold mx-3 my-3;
    }

    input {
        @apply shadow appearance-none border-4 rounded w-full  py-2 px-3 text-gray-400 leading-tight ;
    }

    textarea {
        @apply w-full;
    }

}

.previousLink {
     position: absolute;
    left: 0px;
    top: 50%;
}

.nextLink {
    position: absolute;
    right: 0px;
    top: 50%;
}


div.previousLink a, div.nextLink a {
    background: black;
    color: white;
    opacity: 0.5;
    font-size: 24pt;
    margin:0px;
    padding: 25px 40px;
    font-size: 24pt;
    @apply rounded-2xl;
}